@model IEnumerable<EmployeeMVC.Models.Holiday>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row md-8">
    <div class="col-md-4 text-left">
        <a asp-action="Create">Create New</a>
    </div>

    <div class="col-md-4 text-right">
        <a asp-action="ExportToExcel">Export To Excel</a>
        <a asp-action="ExportToPDF">Export To PDF</a>
    </div>
</div>
<form asp-controller="Holidays" asp-action="Index"  method="get">
    <p>
        Date: <input type="date" name="Date" />
        Name: <input type="text" name="Name" />
        <input type="submit" value="Filter" />
    </p>
</form>
<a asp-action="Index">Clear Filter</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
